@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@layer base {
    h1 {
        @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
    }
    h2 {
        @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
    }
    h3 {
        @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
    }
    h4 {
        @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl;
    }

    p {
        @apply text-base md:text-lg lg:text-xl xl:text-2xl text-black;
    }

    section {
        @apply w-full flex flex-col items-center content-center justify-center;
    }

    body {
        background: grey;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        @apply cursor-pointer px-2 py-2;
    }
}
