@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl md:text-5xl  xl:text-6xl;
    }
    h2 {
        @apply text-3xl md:text-4xl  xl:text-5xl;
    }
    h3 {
        @apply text-2xl md:text-3xl  xl:text-4xl;
    }
    h4 {
        @apply text-xl md:text-2xl  xl:text-3xl;
    }

    p {
        @apply text-base md:text-lg lg:text-xl xl:text-2xl text-ndark;
    }

    /* span {
         @apply text-base md:text-lg lg:text-xl xl:text-2xl text-black;
    } */

    section {
        @apply w-full flex flex-col items-center content-center justify-center;
    }

    body {
        background: var(--col-nlight);
        color: var(--col-ndark);
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        @apply cursor-pointer px-2 py-2;
    }

    :root {
        --col-primary: #c13c3f;
        /* #c13c3f; */
        --col-nlight: #ececec;
        --col-purelight: #ffffff;
        --col-ndark: #001514;
        --col-puredark: #000000;
        --col-accent: #15616d;
    }

    .theme-dark {
        --col-primary: rgb(202, 92, 92);
        --col-nlight: #000000;
        --col-purelight: #001514;
        --col-ndark: #ffffff;
        --col-puredark: #ececec;
        --col-accent: #85aeb4;
    }
}

@theme {
    --color-primary: var(--col-primary);

    --color-nlight: var(--col-nlight);
    --color-purelight: var(--col-purelight);

    --color-ndark: var(--col-ndark);
    --color-puredark: var(--col-puredark);

    --color-accent: var(--col-accent);

    --color-grey: #888888;
}
