@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl md:text-5xl  xl:text-6xl;
    }
    h2 {
        @apply text-3xl md:text-4xl  xl:text-5xl;
    }
    h3 {
        @apply text-2xl md:text-3xl  xl:text-4xl;
    }
    h4 {
        @apply text-xl md:text-2xl  xl:text-3xl;
    }

    p {
        @apply text-base md:text-lg xl:text-xl text-ndark;
    }

    /* span {
         @apply text-base md:text-lg lg:text-xl xl:text-2xl text-black;
    } */

    section {
        @apply w-full flex flex-col items-center content-center justify-center;
    }

    body {
        background: var(--col-nlight);
        color: var(--col-ndark);
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        @apply cursor-pointer px-2 py-2 
        text-base md:text-lg xl:text-xl text-ndark;
    }

    :root {
        --col-primary: #c13c3f;

        /* #c13c3f; */
        --col-nlight: #ececec;
        --col-purelight: #ffffff;
        --col-ndark: #001514;
        --col-puredark: #000000;
        --col-accent: #15616d;
    }
    input {
        @apply p-3;
        outline: none;
    }

    .theme-dark {
        --col-primary: rgb(202, 92, 92);
        --col-nlight: #000000;
        --col-purelight: #001514;
        --col-ndark: #ffffff;
        --col-puredark: #ececec;
        --col-accent: #85aeb4;
    }
}

@layer theme {
    .theme-dark {
        --color-primary-900: hsl(358, 51%, 86%);
        --color-primary-800: hsl(359, 53%, 77%);
        --color-primary-700: hsl(359, 53%, 68%);
        --color-primary-600: hsl(359, 53%, 59%);
        --color-primary-500: hsl(359, 53%, 50%); /* hsl 359,53,50*/
        --color-primary-400: hsl(358, 53%, 41%);
        --color-primary-300: hsl(359, 53%, 32%);
        --color-primary-200: hsl(358, 53%, 23%);
        --color-primary-100: hsl(358, 54%, 14%);

        --color-accent-900: hsl(190, 52%, 86%);
        --color-accent-800: hsl(190, 53%, 77%);
        --color-accent-700: hsl(190, 53%, 68%);
        --color-accent-600: hsl(190, 53%, 59%);
        --color-accent-500: hsl(190, 53%, 50%); /* hsl(100, 52%, 50%) */
        --color-accent-400: hsl(190, 53%, 41%);
        --color-accent-300: hsl(190, 53%, 32%);
        --color-accent-200: hsl(190, 53%, 23%);
        --color-accent-100: hsl(190, 52%, 14%);

        --color-n-900: #f3f3f3;
        --color-n-800: #dcdcdc;
        --color-n-700: #c5c5c5;
        --color-n-600: #aeaeae;
        --color-n-500: #979797;
        --color-n-400: #808080;
        --color-n-300: #686868;
        --color-n-200: #515151;
        --color-n-100: #3a3a3a;

        --color-info-900: hsl(220, 51%, 86%);
        --color-info-800: hsl(220, 52%, 77%);
        --color-info-700: hsl(220, 52%, 68%);
        --color-info-600: hsl(220, 52%, 59%);
        --color-info-500: hsl(220, 52%, 50%); /* hsl(100, 52%, 50%) */
        --color-info-400: hsl(220, 52%, 41%);
        --color-info-300: hsl(220, 52%, 32%);
        --color-info-200: hsl(220, 52%, 23%);
        --color-info-100: hsl(220, 51%, 14%);

        --color-purewhite: #000000;
        --color-pureblack: #ffffff;
    }
}
@theme {
    --color-purewhite: #ffffff;
    --color-pureblack: #000000;

    --color-primary: @apply var(--col-primary); /* #c13c3f */

    --color-primary-100: hsl(358, 51%, 86%);
    --color-primary-200: hsl(359, 53%, 77%);
    --color-primary-300: hsl(359, 53%, 68%);
    --color-primary-400: hsl(359, 53%, 59%);
    --color-primary-500: hsl(359, 53%, 50%); /* hsl 359,53,50*/
    --color-primary-600: hsl(358, 53%, 41%);
    --color-primary-700: hsl(359, 53%, 32%);
    --color-primary-800: hsl(358, 53%, 23%);
    --color-primary-900: hsl(358, 54%, 14%);

    --color-nlight: var(--col-nlight);
    --color-n-100: #f3f3f3;
    --color-n-200: #dcdcdc;
    --color-n-300: #c5c5c5;
    --color-n-400: #aeaeae;
    --color-n-500: #979797;
    --color-n-600: #808080;
    --color-n-700: #686868;
    --color-n-800: #515151;
    --color-n-900: #3a3a3a;

    --color-info-100: hsl(220, 51%, 86%);
    --color-info-200: hsl(220, 52%, 77%);
    --color-info-300: hsl(220, 52%, 68%);
    --color-info-400: hsl(220, 52%, 59%);
    --color-info-500: hsl(220, 52%, 50%); /* hsl(100, 52%, 50%) */
    --color-info-600: hsl(220, 52%, 41%);
    --color-info-700: hsl(220, 52%, 32%);
    --color-info-800: hsl(220, 52%, 23%);
    --color-info-900: hsl(220, 51%, 14%);

    --color-success-100: hsl(100, 51%, 86%);
    --color-success-200: hsl(100, 52%, 77%);
    --color-success-300: hsl(100, 52%, 68%);
    --color-success-400: hsl(100, 52%, 59%);
    --color-success-500: hsl(100, 52%, 50%); /* hsl(100, 52%, 50%) */
    --color-success-600: hsl(100, 52%, 41%);
    --color-success-700: hsl(100, 52%, 32%);
    --color-success-800: hsl(100, 52%, 23%);
    --color-success-900: hsl(100, 51%, 14%);

    --color-danger-100: hsl(0, 51%, 86%);
    --color-danger-200: hsl(0, 52%, 77%);
    --color-danger-300: hsl(0, 52%, 68%);
    --color-danger-400: hsl(0, 52%, 59%);
    --color-danger-500: hsl(0, 52%, 50%); /* hsl(100, 52%, 50%) */
    --color-danger-600: hsl(0, 52%, 41%);
    --color-danger-700: hsl(0, 52%, 32%);
    --color-danger-800: hsl(0, 52%, 23%);
    --color-danger-900: hsl(0, 51%, 14%);

    --color-warning-100: hsl(18, 56%, 86%);
    --color-warning-200: hsl(18, 57%, 77%);
    --color-warning-300: hsl(18, 57%, 68%);
    --color-warning-400: hsl(18, 57%, 59%);
    --color-warning-500: hsl(18, 57%, 45%); /* hsl(100, 52%, 50%) */
    --color-warning-600: hsl(18, 57%, 41%);
    --color-warning-700: hsl(18, 57%, 32%);
    --color-warning-800: hsl(18, 57%, 23%);
    --color-warning-900: hsl(18, 56%, 14%);

    --color-purelight: var(--col-purelight);

    --color-ndark: var(--col-ndark);
    --color-puredark: var(--col-puredark);

    --color-accent: var(--col-accent);
    --color-accent-100: hsl(190, 52%, 86%);
    --color-accent-200: hsl(190, 53%, 77%);
    --color-accent-300: hsl(190, 53%, 68%);
    --color-accent-400: hsl(190, 53%, 59%);
    --color-accent-500: hsl(190, 53%, 50%); /* hsl(100, 52%, 50%) */
    --color-accent-600: hsl(190, 53%, 41%);
    --color-accent-700: hsl(190, 53%, 32%);
    --color-accent-800: hsl(190, 53%, 23%);
    --color-accent-900: hsl(190, 52%, 14%);

    --color-grey: #888888;

    --breakpoint-xs: 320px;
    --breakpoint-sm: 480px;
}
